* {
    box-sizing: border-box;
  }
.column {
    float: left;
    width: 30%;
    height: 680px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



  p{
    color: #000000;
    font-family: monospace;
    font-size: large;
  
}

input[type="text"] {
  width:300px;
  color: #000000;
  font-family: monospace;
  font-size: large;
}

button{
  font-family:monospace;
  font-size: 12px;
}

label{
  font-family:monospace;
}

select{
  font-family:monospace;
}